<h1>
  Predict
</h1>
<form action="predict" method="post">
  <label for="slength">Sepal Length:</label>
  <input type="text" id="slength" name="slength" /><br /><br />
  <label for="swidth">Sepal Width:</label>
  <input type="text" id="swidth" name="swidth" /><br /><br />
  <label for="plength">Petal Length:</label>
  <input type="text" id="plength" name="plength" /><br /><br />
  <label for="pwidth">Petal Width:</label>
  <input type="text" id="pwidth" name="pwidth" /><br /><br />
  <input type="submit" value="Submit" />
</form>
